.splash-page {
    position: absolute;
    margin: 10vh 0;
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://phoogle.s3.amazonaws.com/e7f9ead66d4a46a9bb9271457ae2be31.jpg')
                no-repeat center center fixed;
                background-size: cover;
}

.welcome-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 8px;
    background: rgba(27,27,27,.4)
}

.welcome-container :is(h1, h3, p) {
    color: white;
}

.started-btn {
    margin-top: 20px;
    padding: 10px 24px;
    background-color: var(--common-blue);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}