.albums-holder {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
}

.album-cover {
    margin: 10px 15px;
    width: 25%;
    height: 150px;
    background-position: center;
    background-repeat: cover;
    background-size: cover;
    color: white;
    font-weight: 800;
    font-size: 1em;
    line-height: 150px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.album-title {
    color: blueviolet;
    /* implement text aligned to bottom left and add a black gradient from the bottom up */
}