.footer {
    grid-area: footer;
}

.footer > ul {
    margin: 0;
    width: 100%;
    display: flex;
    background: lightblue;
    line-height: 10vh;
    min-height: 40px;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.footer a{
    text-decoration: none;
    color: white;
}

.footer a:visited{
    color: white;
    text-decoration: none;
}