.photo-grid {
    display: flex;
    flex-wrap: wrap;
}

.photo-card {
    max-width: 200px;
    /* change the way */
    max-height: 140px;
    /* this grid looks */
    /* padding: 10px; */
    margin: 10px 10px;
    position: relative;
    background: beige;
}

.photo-btns {
    margin: 10px 0;
    position: absolute;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.photo-btns button {
    margin: 0 10px;
    border-radius: 50%;
    padding: 3px;
    background: rgba(0,0,0,.4);
    color: blue;
}

.fullscreen {
    position:fixed;
    left: 0;
    top:0;
    height: 100vh;
    width: auto;
}

.selected {
    border: 2px solid blue;
}

.photo-card img {
    height: 100%;
    width: 100%;
}