.photo-grid {
    display: flex;
    flex-wrap: wrap;
}

.photo-card {
    max-width: 200px;
    /* change the way */
    max-height: 140px;
    /* this grid looks */
    padding: 10px;
    margin: 10px 0;
}

.selected {
    border: 2px solid blue;
}

.photo-card img {
    height: 100%;
    width: 100%;
}